body {
    font-family: $font;
    font-size: $font-size;
    overflow-x: hidden;
    text-align: right;
    background: $white-color;
    color: $text-color;
    padding-top: $header-height;
}

a:hover {
    text-decoration: none;
}

.padding-vertical {
    padding-top: $large;
    padding-bottom: $large * 2;
}

.page {
    background: $bg-color;
    padding: $medium;
    border-radius: 15px 0 0 0;
    overflow: hidden;
}

input, button, textarea, select {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// start title
.title {
    margin-bottom: $medium;
    padding: 0 $small;
    border-right: 3px solid rgba($main-color, .3);
    .title-text {
        color: $text-color;
        margin-bottom: 0;
    }
}

.back-btn {
    width: 50px;
    height: 35px;
    background: $white-color;
    border-radius: 5px;
}   