@import "../../../scss/vars/vars";

.surahs {
    padding-bottom: 50px;

    // start title
    .title {
        margin-bottom: $medium;
        .title-text {
            margin-bottom: 0;
        }
    }
    // ==== end title

    // start audio-item
    .audio-item {
        margin-bottom: $medium;
        background: $white-color;
        padding: $small $medium;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($text-color, .1);
        overflow: hidden;
        transition: all .3s;

        &:hover, &.active {
            .play-btn {
                box-shadow: 0 0 0 600px $main-color;
            }
            .id {
                color: $white-color;
            }
            .name {
                color: $white-color;
            }
            .left .icon {
                fill: $white-color !important;
            }
        }

        // start play-btn
        .play-btn {
            $size: 35px;
            background: rgba($main-color, .1);
            border: none;
            width: $size;
            height: $size;
            border-radius: 50%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 4px;
            margin-left: $small;
            transition: .3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 600px $main-color;
            }
        }
        // ==== end play-btn

        // start id
        .id {
            color: $text-color;
            font-size: .9rem;
            margin-left: $small;
        }
        // === end id

        // start name
        .name {
            margin-bottom: 0;
            color: $text-sub-color;
        }
        // === end name

        // start options-btn
        .options-btn {
            background: transparent;
            border: none;
            padding: 0;

            &.fav-in {
            }
        }
        // ==== end options-btn

    }
    // ==== end audio-item

    // start audio-player
    .audio-player {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        direction: ltr;

        .rhap_container {
            box-shadow: 0 0 10px rgba($text-color, .1);
        }

        .rhap_progress-section {
            color: $text-color !important;

            .rhap_current-time {
                font-size: .9rem;
                color: $text-color;
            }

            .rhap_progress-indicator {
                background: $main-color;
            }
            .rhap_progress-filled {
                background: $main-color;
            }
            .rhap_download-progress {
                background: #ECF1F4;
            }
        }

        .rhap_time {
            color: $text-color;
            font-size: .9rem;
        }

        .rhap_controls-section {
            margin-top: 5px;

            .rhap_repeat-button {
                color: rgba($main-color, .4);
            }

            .rhap_main-controls-button {
                color: $main-color;
                &:first-child, &:last-child {
                    color: rgba($main-color, .4);
                }
                &:hover {
                    color: $main-color;
                }
            }

            .rhap_volume-button {
                color: rgba($main-color, .4);
            }
            .rhap_volume-bar {
                background: $main-color;
            }
            .rhap_volume-indicator {
                background: $main-color;
            }
        }
    }
    // ==== end audio-player


}