@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

// colors
$main-color: #00B06E;
$white-color: #ffffff;
$text-color: #6d6d6d;
$text-sub-color: #333333;
$bg-color: #ECF1F4;


// fonts
$font: 'Cairo', sans-serif;
$font-size: 16px;

// others
$header-height: 65px;
$large: 40px;
$medium: 20px;
$small: 10px;