@import "../../../scss/vars/vars";

// start audio-player
.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    direction: ltr;

    .rhap_container {
        box-shadow: 0 0 10px rgba($text-color, .1);
    }

    .rhap_progress-section {
        color: $text-color !important;

        .rhap_current-time {
            font-size: .9rem;
            color: $text-color;
        }

        .rhap_progress-indicator {
            background: $main-color;
        }
        .rhap_progress-filled {
            background: $main-color;
        }
        .rhap_download-progress {
            background: #ECF1F4;
        }
    }

    .rhap_time {
        color: $text-color;
        font-size: .9rem;
    }

    .rhap_controls-section {
        margin-top: 5px;

        .rhap_repeat-button {
            color: rgba($main-color, .4);
        }

        .rhap_main-controls-button {
            color: $main-color;
            &:first-child, &:last-child {
                color: rgba($main-color, .4);
            }
            &:hover {
                color: $main-color;
            }
        }

        .rhap_volume-button {
            color: rgba($main-color, .4);
        }
        .rhap_volume-bar {
            background: $main-color;
        }
        .rhap_volume-indicator {
            background: $main-color;
        }
    }
}
// ==== end audio-player